/*******************
       Reset
*******************/
body {
    margin: 0;
}

h3 {
    margin: 0;
}

p {
    margin: 0;
}

/*******************
       Main
*******************/
html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

#pageWrap {
    height: auto;
    margin-bottom: 0;
}

/*.pageWrap:after {
    content: '';
    display: block;
}*/

#searchContainer {
    display: flex;
    justify-content: center;
    margin-top: 300px;
    margin-bottom: 25px;
}

#searchBar {
    width: 30px;
    height: 30px;
    border: #3FDD90 solid 4px;
    font-size: 95%;
    border-radius: 50px;
    cursor: pointer;
    outline: none;

    /* "animation-name" added dynamically in JS */
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
    animation-delay: 300ms;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    transition: width 300ms ease-in-out, padding 300ms ease-in-out;
    transition-delay: 300ms;
}

#handleLine {
    position: relative;
    width: 20px;
    height: 3px;
    transform: rotate(40deg);
    background-color: #3FDD90;
    left: -9px;
    top: 36px;

    /*"animation-name" added dynamically in JS */
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    transition: width 300ms ease-in-out;
    transition-delay: 600ms;
}

#clickBox {
    position: relative;
    width: 10px;
    height: 10px;
    /*border: blue dashed 1px;*/
    left: -46px;
    top: 15px;
    cursor: pointer;
}

#topX {
  position: relative;
  width: 0;
  height: 2px;
  background-color: #4F5151;
  transform: rotate(135deg);
  left: -15px;
  top: 10px;
  cursor: pointer;

  /*"animation-name" added dynamically in JS */
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
    animation-delay: 600ms;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;

    transition: width 300ms ease-in-out, left 300ms ease-in-out, top 300ms ease-in-out;
}

#bottomX {
  position: relative;
  width: 0;
  height: 2px;
  background-color: #4F5151;
  transform: rotate(45deg);
  left: -25px;
  top: 30px;
  cursor: pointer;


  /*"animation-name" added dynamically in JS */
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
    animation-delay: 600ms;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;

    transition: width 300ms ease-in-out, left 300ms ease-in-out, top 300ms ease-in-out;
}

.gone {
    display: none;
}

.visible {
    visibility: visible;
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

.resultContainer {
    height: auto;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 10px;
}

.resultContainer:hover {
    /*background-color: #DAF7A6;*/
    background-color: #3FDD90;
}

.wikiResult {
    height: auto;
    margin-right: 0;
    margin-left: 6.5px;
    /*background-color: #F4F6F6;*/
    /*background-color: #595B5B;*/
    background-color: #4F5151;
}

.link {
    text-decoration: none;
}

.title, .intro {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 15px;
    color: white;
}

.intro {
    padding-bottom: 15px;
}

footer {
    color: #4F5151;
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 150px;
}

#maker {
    font-size: 150%;
}

#attribution {
    margin-top: 25px;
    font-size: 75%;
}

#copyRight {
    margin-top: 25px;
}


/**********************
       Keyframes
*********************/

/*** expand(s) keyframe **************************************/

@keyframes expand {
    0% {
        width: 30px;
    }
    100% {
        width: 200px;
    }
}

/***************************************************/

/*** shrinkLine keyframe **************************************/

@keyframes shrinkLine {
    0% {
        width: 20px;
    }
    100% {
        width: 0;
    }
}

/***************************************************/

/*** topDash keyframe **************************************/

@keyframes topDash {
    0% {
        width: 0;
        left: -15px;
        top: 10px;
    }
    100% {
        width: 10px;
        left: -25px;
        top: 20px;
    }
}

/***************************************************/

/*** bottomDash keyframe **************************************/

@keyframes bottomDash {
    0% {
        width: 0;
        left: -25px;
        top: 30px;
    }
    100% {
        width: 10px;
        left: -35px;
        top: 20px;
    }
}

/***************************************************/
