/*******************/
       Reset
/*******************/
body {
    margin: 0;
}

h3 {
    margin: 0;
}

p {
    margin: 0;
}

/*******************/
       Main
/*******************/
html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

#searchContainer {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

#searchBar {
    height: 25px;
    border: orange solid 3px;
    border-radius: 20px;
    font-size: 95%;
}

#searchBar:focus {
    outline: none;
}

#searchBar[type=text] {
    padding-left: 10px;
}

.visible {
    visibility: visible;
}

.hidden {
    display: none;
}

#resultContainer {
    height: auto;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 10px;
}

#resultContainer:hover {
    /*background-color: #DAF7A6;*/
    background-color: #3FDD90;
}

#wikiResult {
    height: auto;
    margin-right: 0;
    margin-left: 6.5px;
    /*background-color: #F4F6F6;*/
    /*background-color: #595B5B;*/
    background-color: #4F5151;
}

#title, #intro {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 15px;
    color: white;
}

#title {

}

#intro {
    padding-bottom: 15px;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}

#maker {
    font-size: 150%;
}

#attribution {
    margin-top: 25px;
    font-size: 75%;
}

#copyRight {
    margin-top: 25px;
}
